[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = The Python programming language
[access "refs/*"]
	owner = group user/Pete Vetere (pvetere)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Pete Vetere (pvetere)
	label-Verified = -1..+1 group user/Pete Vetere (pvetere)
	push = group user/Pete Vetere (pvetere)
	read = group user/Pete Vetere (pvetere)
	rebase = group user/Pete Vetere (pvetere)
	removeReviewer = group user/Pete Vetere (pvetere)
	submit = group user/Pete Vetere (pvetere)
[access "refs/heads/*"]
	create = group user/Pete Vetere (pvetere)
	push = +force group user/Pete Vetere (pvetere)
	pushMerge = group user/Pete Vetere (pvetere)
	read = group user/Pete Vetere (pvetere)
[access "refs/tags/*"]
	push = group user/Pete Vetere (pvetere)
	push = +force group user/Pete Vetere (pvetere)
